<?xml version="1.0" encoding="UTF-8"?>
<window id="11112">
    <coordinates>
        <system>1</system>
        <posx>380</posx>
        <posy>260</posy>
    </coordinates>
    <controls>
        <control type="group">
            <description>background</description>
            <posx>0</posx>
            <posy>0</posy>
            <width>480</width>
            <control type="image">
                <height>65</height>
                <texture>grey-background-070.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),1)</visible>
            </control>
            <control type="image">
                <height>95</height>
                <texture>grey-background-070.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),2)</visible>
            </control>
            <control type="image">
                <height>125</height>
                <texture>grey-background-070.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),3)</visible>
            </control>
            <control type="image">
                <height>155</height>
                <texture>grey-background-070.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),4)</visible>
            </control>
            <visible>String.IsEqual(Window(10000).Property(ap_diffusion),70)</visible>
        </control>
        <control type="group">
            <description>background</description>
            <posx>0</posx>
            <posy>0</posy>
            <width>480</width>
            <control type="image">
                <height>65</height>
                <texture>grey-background-080.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),1)</visible>
            </control>
            <control type="image">
                <height>95</height>
                <texture>grey-background-080.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),2)</visible>
            </control>
            <control type="image">
                <height>125</height>
                <texture>grey-background-080.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),3)</visible>
            </control>
            <control type="image">
                <height>155</height>
                <texture>grey-background-080.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),4)</visible>
            </control>
            <visible>String.IsEqual(Window(10000).Property(ap_diffusion),80)</visible>
        </control>
        <control type="group">
            <description>background</description>
            <posx>0</posx>
            <posy>0</posy>
            <width>480</width>
            <control type="image">
                <height>65</height>
                <texture>grey-background-090.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),1)</visible>
            </control>
            <control type="image">
                <height>95</height>
                <texture>grey-background-090.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),2)</visible>
            </control>
            <control type="image">
                <height>125</height>
                <texture>grey-background-090.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),3)</visible>
            </control>
            <control type="image">
                <height>155</height>
                <texture>grey-background-090.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),4)</visible>
            </control>
            <visible>String.IsEqual(Window(10000).Property(ap_diffusion),90)</visible>
        </control>
        <control type="group">
            <description>background</description>
            <posx>0</posx>
            <posy>0</posy>
            <width>480</width>
            <control type="image">
                <height>65</height>
                <texture>grey-background-100.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),1)</visible>
            </control>
            <control type="image">
                <height>95</height>
                <texture>grey-background-100.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),2)</visible>
            </control>
            <control type="image">
                <height>125</height>
                <texture>grey-background-100.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),3)</visible>
            </control>
            <control type="image">
                <height>155</height>
                <texture>grey-background-100.png</texture>
                <visible>String.IsEqual(Window(10000).Property(ap_buttons),4)</visible>
            </control>
            <visible>String.IsEqual(Window(10000).Property(ap_diffusion),100)</visible>
        </control>
        <control type="label" id="10071">
            <description>title</description>
            <posx>0</posx>
            <posy>10</posy>
            <width>480</width>
            <height>20</height>
            <label></label>
            <align>center</align>
            <font>font14</font>
            <textcolor>white</textcolor>
        </control>
        <control type="list" id="10070">
            <description>button list</description>
            <posx>0</posx>
            <posy>35</posy>
            <width>480</width>
            <height>200</height>
            <onup>10070</onup>
            <ondown>10070</ondown>
            <itemlayout width="480" height="30">
                <control type="label">
                    <width>480</width>
                    <height>30</height>
                    <font>font13</font>
                    <textcolor>light</textcolor>
                    <align>center</align>
                    <aligny>center</aligny>
                    <info>ListItem.Label</info>
                </control>
            </itemlayout>
            <focusedlayout width="480" height="30">
                <control type="image">
                    <left>0</left>
                    <top>0</top>
                    <width>480</width>
                    <height>30</height>
                    <texture border="0,2,0,2">white-button.png</texture>
                </control>
                <control type="label">
                    <width>480</width>
                    <height>30</height>
                    <font>font13</font>
                    <textcolor>dark</textcolor>
                    <align>center</align>
                    <aligny>center</aligny>
                    <info>ListItem.Label</info>
                </control>
            </focusedlayout>
            <animation effect="fade" end="100" delay="5000">Focus</animation>
        </control>
    </controls>
    <animation effect="fade" time="200">WindowOpen</animation>
    <animation effect="fade" time="200">WindowClose</animation>
</window>