<?xml version="1.0" encoding="UTF-8"?>
<window id="11112">
	<defaultcontrol>10070</defaultcontrol>
	<animation type="WindowOpen" reversible="false">
		<effect type="zoom" start="80" end="100" center="50%,50%" delay="160" tween="back" time="240" />
		<effect type="fade" delay="160" end="100" time="240" />
	</animation>
	<animation type="WindowClose" reversible="false">
		<effect type="zoom" start="100" end="80" center="50%,50%" easing="in" tween="back" time="240" />
		<effect type="fade" start="100" end="0" time="240" />
	</animation>
	<depth>0.50</depth>
	<controls>
		<control type="group">
			<centerleft>50%</centerleft>
			<width>520</width>
			<centertop>50%</centertop>
			<height>300</height>
			<control type="group">
				<width>520</width>
				<height>50</height>
				<control type="image">
					<left>0</left>
					<top>0</top>
					<right>0</right>
					<bottom>0</bottom>
					<texture colordiffuse="dialog_tint">colors/white.png</texture>
				</control>
				<control type="image">
					<left>0</left>
					<top>0</top>
					<right>0</right>
					<height>40</height>
					<texture colordiffuse="button_focus" border="2">colors/white70.png</texture>
				</control>
				<control type="label" id="10071">
					<left>20</left>
					<top>0</top>
					<right>100</right>
					<height>40</height>
					<font>font32_title</font>
					<label></label>
					<aligny>center</aligny>
					<shadowcolor>black</shadowcolor>
				</control>
				<control type="button" id="22002">
					<description>button overlay to avoid closing in dialog area</description>
					<left>0</left>
					<top>0</top>
					<right>0</right>
					<bottom>0</bottom>
					<texturefocus />
					<texturenofocus />
					<onclick>noop</onclick>
				</control>
				<control type="radiobutton">
					<right>10</right>
					<top>9</top>
					<width>24</width>
					<height>24</height>
					<radiowidth>24</radiowidth>
					<radioheight>24</radioheight>
					<texturefocus />
					<texturenofocus />
					<label></label>
					<textureradioofffocus colordiffuse="EEFFFFFF">dialogs/close.png</textureradioofffocus>
					<textureradiooffnofocus colordiffuse="EEFFFFFF">icons/logo.png</textureradiooffnofocus>
					<textureradioonfocus colordiffuse="EEFFFFFF">dialogs/close.png</textureradioonfocus>
					<textureradioonnofocus colordiffuse="EEFFFFFF">icons/logo.png</textureradioonnofocus>
					<onclick>Action(close)</onclick>
					<visible>!Skin.HasSetting(touchmode)</visible>
				</control>
				<control type="button">
					<right>10</right>
					<top>11</top>
					<width>48</width>
					<height>48</height>
					<texturefocus>dialogs/close.png</texturefocus>
					<texturenofocus>dialogs/close.png</texturenofocus>
					<onclick>Action(close)</onclick>
					<visible>Skin.HasSetting(touchmode)</visible>
				</control>
			</control>
			<control type="panel" id="10070">
				<left>0</left>
				<top>46</top>
				<width>520</width>
				<height>300</height>
				<onleft>10070</onleft>
				<onright>10070</onright>
				<onup>10070</onup>
				<ondown>10070</ondown>
				<orientation>vertical</orientation>
				<itemlayout height="40" width="520">
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>520</width>
						<height>40</height>
						<texture colordiffuse="dialog_tint">colors/white.png</texture>
					</control>
					<control type="label">
						<left>0</left>
						<textoffsetx>20</textoffsetx>
						<top>0</top>
						<width>520</width>
						<height>40</height>
						<align>center</align>
						<aligny>center</aligny>
						<textcolor>grey</textcolor>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>
				<focusedlayout height="40" width="520">
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>520</width>
						<height>40</height>
						<texture colordiffuse="dialog_tint">colors/white.png</texture>
					</control>
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>520</width>
						<height>40</height>
						<texture colordiffuse="button_focus">lists/focus.png</texture>
					</control>
					<control type="label">
						<left>0</left>
						<textoffsetx>20</textoffsetx>
						<top>0</top>
						<width>520</width>
						<height>40</height>
						<align>center</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</focusedlayout>
			</control>
		</control>
	</controls>
</window>
